html, body {
  height: 100%;
}

body {
			background-image: url(../img/arcade.jpg);
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
}

.wrapper {
  height: 100%;
  width: 100%;
}

div, body {
  margin: 0;
  padding: 0;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 200;
}

.center-position {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%; 
  height: auto;
}

p {
  color: purple;
  font-size: 38px;
  text-align: center;
}

.white {
  color: white;
}

.fadeOut{
  visibility: hidden;
  opacity: 0; 
 -webkit-transition: all 1s ease-out;
       -moz-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
         -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
  transform: translate(0,-50px);
  -webkit-transform: translate(0,-50px);
  -o-transform: translate(0,-50px); 
  -moz-transform: translate(0,-50px);
}

.social {
  margin-top: 30px;
  justify-content:center;
}