.not-found-bg {
    background-image: url(../images/404.jpg);
}

.home-bg {
    background-image: url(../images/home.jpg);
}

.journal-bg {
    background-image: url(../images/journal.jpg);
}

.about-bg {
    background-image: url(../images/about.jpg);
}

.mike-bg {
    background-image: url(../images/mike.jpg);    
}

.angel-bg {
    background-image: url(../images/angel.jpg);    
}

.author-bg {
    background-image: url(../images/author.jpg);
}

.podcast-bg {
    background-image: url(../images/podcast.jpg);
}

.travel-bg {
    background-image: url(../images/travel.jpg);
}

.empty-begin {
    background-image: url(../images/empty-begin.jpg);
}
.empty-end {
    background-image: url(../images/empty-end.jpg);
}

.category-bg {
    background-image: url(../images/category-bg.jpg);
}

.category-beer {
    background-image: url(../images/category-beer.jpg);
}