.not-found-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/404.jpg);
}

.home-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/home.jpg);
}

.journal-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/journal.jpg);
}

.about-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/about.jpg);
}

.mike-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/mike.jpg);    
}

.angel-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/angel.jpg);    
}

.author-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/author.jpg);
}

.podcast-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/podcast.jpg);
}

.travel-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/travel.jpg);
}

.empty-begin {
    background-image: url(http://images.supernerdandwonderwoman.com/images/empty-begin.jpg);
}
.empty-end {
    background-image: url(http://images.supernerdandwonderwoman.com/images/empty-end.jpg);
}

.category-bg {
    background-image: url(http://images.supernerdandwonderwoman.com/images/category-bg.jpg);
}

.category-beer {
    background-image: url(http://images.supernerdandwonderwoman.com/images/category-beer.jpg);
}

.category-chicago {
  background-image: url(http://images.supernerdandwonderwoman.com/images/category-chicago.jpg); 
}

.category-stg {
  background-image: url(http://images.supernerdandwonderwoman.com/images/category-stg.png); 
}

.category-maui {
  background-image: url(http://images.supernerdandwonderwoman.com/images/category-maui.png); 
}
