footer {
	height: 200px;
    padding: 10px;
	background: black;
	text-align: center;
    overflow: auto;
    color: white;
}

footer img {
    width: auto;
}

.social {
	margin-top: 50px;
}

.copyright {
    padding-top: 15px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}