@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:300,400');

$purple : #8e12ce;

* {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }

.center {
    margin: 0 auto;
}
main {
    margin-top: 50px;
}

.white {
    color: white;
}

.cover {
	background-size: cover;
    background-position: center center;
    margin-top: -60px
}

.tint {
	height: 600px;
    opacity: 1;
    background-color: rgba(0,0,0,.5);
    background-size: cover;
    z-index: 1;
    padding-bottom: 50px;
}

.title-position {
    top: 30%;
    position: relative;
}

.break:after {
    content: '\A';
    white-space: pre;
  }

.thumb-cover {
    background-size: cover;
    background-position: center center;
    height: 400px;
}

.overlay {
    position: relative;
  }
  
  .overlay:after {
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
  }
  
  .overlay:hover:after  {
    opacity: .5;
    background-color: black;
  }

.cat {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-style: italic;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  min-width: 140px;
  display: inline-block;
  background-color: hsl(0, 0%, 0%);
  padding: 3px;
  margin-bottom: 10px;
}

.spacer {
    padding: 40px 0;
}
